[submodule "mmark"]
	path = mmark
	url = https://github.com/mmarkdown/mmark

[submodule "jmapd"]
	path = jmapd
	url = https://github.com/plq/jmapd

[submodule "msgpack-python-pure"]
	path = msgpack-python-pure
	url = https://github.com/plq/msgpack-python-pure
